{% extends "base.html" %}

{% block left %}
	<div class="span8">
		<br><br>
		{% for entry in entries %}
			<!--每个item开始-->
			<div class="block">
				<h2>{{entry.title}}</h2>
				{{entry.description|safe}}
				<p><a class="btn" href="/picview?id={{entry.id}}">查看全文 &raquo;</a></p>
				<hr />
			</div>
			<!--每个item结束-->
		{% endfor %}
		<!--分页开始-->
		<div class="pagination pagination-large">
		  <ul>
			{% if page==1 %}
			<li class="disabled"><a href="">&laquo;</a></li>
			{% else %}
				<li><a href="/pic/{{page-1}}">&laquo;</a></li>
			{% endif %}

			{% for i in range(1, pageNumber+1) %}
				{% if page==i %}
				<li class="disabled"><a href="">{{i}}</a></li>
				{% else %}
				<li><a href="/pic/{{i}}">{{i}}</a></li>
				{% endif %}
			{% endfor %}

			{% if page==pageNumber %}
			<li class="disabled"><a href="">&raquo;</a></li>
			{% else %}
				<li><a href="/pic/{{page+1}}">&raquo;</a></li>
			{% endif %}
		  </ul>
		</div>
		<!--分页结束-->
	</div>
{% endblock %}
