<!--导航开始-->
<div class="navbar">
	<div class="navbar-inner">
		<div class=container">
			<!--logo开始-->
			<div class="span3 offset1">
				<div class="media">
					<a href="/" class="pull-left">
<img class="media-object" src="{{ url_for('static', filename='img/logo.png') }}" width="60px" height="90px">
						</img>
					</a>
					<div class="media-body">
						<h2>XINLI525</h2>
						专注心理干预治疗
					</div>
				</div>
			</div>
			<!--logo结束-->
			<!--查询开始-->
			<div class="span4 offset1">
				<br />
				<form class="form-search">
					<input type="text" class="span3" placeholder="搜索">
					<button type="submit" class="btn">查询</button>
				</form>
			</div>
			<!--查询结束-->
			<!--注册登录开始-->
			<div class="pull-right">
				<br />
				<ul class="inline">
				{% if not session.login %}
					<li><h4><a href="/register">注册</a></h4></li>
					<li><h4><a href="/login">登录</a></h4></li>
				{% else %}
					<li><h4><a href="">{{session.username}}</a></h4></li>
					<li><h4><a href="/logout">登出</a></h4></li>
				{% endif %}
				</ul>
			</div>
			<!--注册登录结束-->
		</div>
		<!--container结束-->
	</div>
	<!--navbar-inner结束-->
</div>
<!--navbar结束-->
<!--导航结束-->
